<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to Pawfect</h3>
      <p>
        Pawfect, the leading online pet shop in India, offers you top quality pet products, which fulfill each and every parameter that is mentioned above for ensuring the overall wellness of your dog. All the goods here at Pawfect, be it Dog Foods, Healthcare Products, Dog Supplies, Grooming Products, they are all from some of the leading pet brands across the globe to keep your pet in top condition
      </p>
      <ol>
        <li>We have listed the nutrition and food for virtually all of the dog breeds.</li>
        <li>From newborn pups to senior dogs, we have foods that complete all their dietary requirements.</li>
        <li>To keep them physically and mentally fit, we have some of the most stimulating toys which also eliminates undesirable behaviour in them.</li>
        <li>To eliminate ticks and flea infestation in dogs, we have some of the highly effective disinfectant powders, shampoos, spot on and anti-collars.</li>
        <li>We also have detailed information on some of the most popular dog breeds available in India. You get to know their personality, behaviour, nutrition, exercise requirements and other traits to gain a better insight of the breeds.</li>
      </ol>
    </div>
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h3>Our location on map</h3>
      <div class="mt-4" id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
